body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

header, .hero-banner, .main-content, footer {
    padding: 0 300px;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-logo, .nav-link{
    text-decoration: none;
    line-height: 2;
    color: #f9faf8;
}

.header-logo{
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    display: flex;
    flex-direction: column;
}
.nav-link{
    padding: 15px;
    flex: 1;
}
.nav-link:hover, .nav-link:focus{
    background-color: #7d8a9c;
}

.nav-link:active{
    background-color: #dae1eb;
    color: black;
}


.header-logo:visited, .header-logo:focus, .header-logo:active {
    text-decoration: none;
    color: white;
}

.hero-banner {
    background-color: #1F2937;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.hero-banner * {
    flex: 1;
}
.hero-cta-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 210px;
}

.hero-image{
    background-color: #7d8a9c;
    color: white;
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.hero-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;    
}
.hero-content{
    font-size: 18px;
    font-weight:300;
    text-wrap: wrap;
    color: #E5E7EB;
}
.sign-up-btn{
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    flex: 0 0 auto;
    max-width: fit-content;
    padding: 10px 20px;
}

.sign-up-btn:hover{
    cursor: pointer;
    background-color: #478dfc;
}
