body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif   ;
}

header, .hero-banner, .random-information-section,.quote-section, footer {
    padding: 0 300px;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-logo, .nav-link{
    text-decoration: none;
    line-height: 2;
    color: #f9faf8;
}

.header-logo{
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    display: flex;
    flex-direction: column;
}
.nav-link{
    padding: 15px;
    flex: 1;
}
.nav-link:hover, .nav-link:focus{
    background-color: #7d8a9c;
}

.nav-link:active{
    background-color: #dae1eb;
    color: black;
}


.header-logo:visited, .header-logo:focus, .header-logo:active {
    text-decoration: none;
    color: white;
}

.hero-banner {
    background-color: #1F2937;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.hero-cta-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
    gap: 8px;
    min-height: 230px;
}

.hero-image{
    background-color: #7d8a9c;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1 1 0;
}
.hero-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;    
}
.hero-content{
    font-size: 18px;
    font-weight:300;
    text-wrap: wrap;
    color: #E5E7EB;
}
.sign-up-btn{
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    flex: 0 0 auto;
    max-width: fit-content;
    padding: 10px 30px;
}

.sign-up-btn:hover{
    cursor: pointer;
    background-color: #478dfc;
}

.random-information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information-title{
    font-size: 36px;
    font-weight:800;
    color:#1f2937;
    flex: 1 0 auto;
}

.random-information-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 10px 0;
}

.box-with-text{
    width: 200px;
}

.box {
    height: 200px;
    flex: 1 0 auto;
    border: 5px solid #478dfc;
    border-radius: 20px;
}

.text-under-box{
    text-align: center;
    font-size: 18px;
    font-weight:300;
    font-style: italic;
    color: #8b8b8b;
    text-wrap: wrap;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    width: 70%;
    box-sizing: border-box;
}

.quote{
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
}

.quote-author{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}